:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --font-extra-light: 200;
  --font-semi-bold: 600;
}

/* Test fluid typography */

/* html {
  font-size: clamp(0.938rem, 0.75rem + 1.5vw, 1.5rem);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--very-dark-blue);
  font-family: poppins, sans-serif;
  background-color: var(--very-light-gray);
}

.content-wrapper {
  padding: 5.375rem 2rem 4.875rem;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-weight: var(--font-extra-light);
}

h2 {
  font-weight: var(--font-semi-bold);
}

header {
  margin-bottom: 4.75rem;
}

header > h2 {
  padding: 0 0.5rem;
}

header > P {
  margin-top: 1rem;
  font-size: 0.938rem;
}

h1,
header > h2 {
  font-size: 1.5rem;
}

p {
  opacity: 50%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 1.5rem;
}

.card-container > article:nth-child(1) {
  border-top: 0.25rem solid var(--cyan);
}

.card-container > article:nth-child(2) {
  border-top: 0.25rem solid var(--red);
}

.card-container > article:nth-child(3) {
  border-top: 0.25rem solid var(--orange);
}

.card-container > article:nth-child(4) {
  border-top: 0.25rem solid var(--blue);
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  max-width: 21.875rem;
}

.card > h2 {
  font-size: 1.25rem;
}

.card > p {
  font-size: 0.813rem;
  margin-bottom: 2rem;
}

.card > img {
  align-self: self-end;
}

@media screen and (min-width: 800px) {
  h1,
  header > h2 {
    font-size: 2.25rem;
  }

  .card {
    padding: 2rem;
  }

  .card > p {
    margin-bottom: 2.5rem;
  }

  .card > img {
    width: 64px;
    height: auto;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
  }

  .card1 {
    grid-area: 2 / 1 / 4 / 1;
  }

  .card2 {
    grid-area: 1 / 2 / 3 / 2;
  }

  .card3 {
    grid-area: 3 / 2 / 5 / 2;
  }

  .card4 {
    grid-area: 2 / 3 / 4 / 3;
  }
}
